* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 100%;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: #232536;
    padding: 25px;
    position: fixed !important;
    z-index: 2 !important;
    top: 0 !important;
    width: 100% !important;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header a{
    color: white;
}

.header h1 {
    color: white;
    align-items: center;
}

.header ul {
    display: flex;
    gap: 10px;
    color: white;
    align-items: center;
    list-style: none;
}

#hero{
    padding-top: 130px;
}

.child1{
    display: flex;
    flex-direction: column;
    max-width: 516px;
    width: 100%;
    gap: 16px;
}

.father1{
    display: flex;
    gap: 54px;
    background-color: #F4F0F8;
    padding: 83px;
    margin-bottom: 122px;
}

.child1 h3{
    font-size: 16px;
    font-weight: 600;
}

.child1 h1{
    font-size: 28px;
    font-weight: 700;
}

.child1 p{
    font-size: 16px;
    font-weight: 400;
    color: #6D6E76;
}

.father2{
    display: flex;
    gap: 80px;
    margin-bottom: 128px;
}

.child2{
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
}

.child2 h1{
    font-size: 36px;
    font-weight: 700;
}

.child2 h2{
    font-size: 24px;
    font-weight: 700;
}

.child2 p{
    font-size: 16px;
    font-weight: 400;
}

.father3{
    display: flex;
    gap: 64px;
    margin-bottom: 90px;
}

footer {
    background-color: #232536;
    padding: 54px 80px;
}

.father4 {
    display: flex;
    justify-content: space-between;

}

.child2 {
    display: flex;
    flex-direction: column;
}

.child2 h3{
    color: white;
}

.child3 {
    display: flex;
    align-items: center;
    gap: 10px;
}

a{
    text-decoration: none;
}