* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 100%;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: #232536;
    padding: 25px;
    position: fixed !important;
    z-index: 2 !important;
    top: 0 !important;
    width: 100% !important;
}

.header {
    display: flex;
    justify-content: space-between;
}

.heder a{
    color: white;
}

.header h1 {
    color: white;
    align-items: center;
}

.header ul {
    display: flex;
    gap: 10px;
    color: white;
    align-items: center;
    list-style: none;
}

.father1{
    margin-top: 197px;
    display: flex;
    flex-direction: column;
}

.father1 h1{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 32px;
}

.father1 hr{
    max-width: 1280px;
    width: 100%;
    color: #6D6E76;
    margin-bottom: 64px;
}

.father2{
    display: flex;
    gap: 36px;
    margin-bottom: 64px;
}

.child1{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    width: 100%;
    gap: 16px;
}

.child1 h3{
    color: #592EA9;
    font-size: 16px;
    font-weight: 600;
}

.child1 h1{
    font-size: 36px;
    font-weight: 700;
}

.child1 p{
    color: #6D6E76;
    font-size: 16px;
    font-weight: 400;
}

.img{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
}

.father3 {
    display: flex;
    justify-content: center;

    margin-bottom: 87px;
}

.father3 h1 {
    font-size: 28px;
}

footer {
    background-color: #232536;
    padding: 54px 80px;
}

.father4 {
    display: flex;
    justify-content: space-between;

}

.child2 {
    display: flex;
    flex-direction: column;
    color: white;
}

.child3 {
    display: flex;
    align-items: center;
    gap: 10px;
}

a{
    text-decoration: none;
}