* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 100%;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: #232536;
    padding: 25px;
    position: fixed !important;
    z-index: 2 !important;
    top: 0 !important;
    width: 100% !important;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header a {
    color: white;
}

.header h1 {
    color: white;
    align-items: center;
}

.header ul {
    display: flex;
    gap: 10px;
    color: white;
    align-items: center;
    list-style: none;
}

a{
    text-decoration: none;
}

#hero{
    padding-top: 149px;
}

.menu{
    display: flex;
    justify-content: center;
    margin-bottom: 68px;
}

.menu h1{
    font-size: 48px;
    font-weight: 700;
}

.father1{
    display: flex;
    flex-direction: column;
    gap: 22px;
    align-items: center;
    margin-bottom: 74px;
}

.father1 input{
    max-width: 768px;
    width: 100%;
    padding: 24px;
}

.btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 158px;
}

.btn button{
    max-width: 768px;
    width: 100%;
    padding: 16px 336px;
    background-color: #FFD050;
    border: none;
}

footer {
    background-color: #232536;
    padding: 54px 80px;
}

.father4 {
    display: flex;
    justify-content: space-between;

}

.child2 {
    display: flex;
    flex-direction: column;
}

.child2 h3 {
    color: white;
}

.child3 {
    display: flex;
    align-items: center;
    gap: 10px;
}